:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}

.notification {
  position: absolute;
  bottom: 20px;
  left: 50vw;
  padding: 0 20px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.4);
  transform: translateX(-50%);
}

.notification > h1,
p {
  font-weight: 600;
}
